[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "batman"]
	path = batman
	url = https://github.com/ironholds/batman
[submodule "exif"]
	path = exif
	url = https://github.com/ironholds/exif
[submodule "humaniformat"]
	path = humaniformat
	url = https://github.com/ironholds/humaniformat
[submodule "muckrock"]
	path = muckrock
	url = https://github.com/ironholds/muckrock
[submodule "olctools"]
	path = olctools
	url = https://github.com/ironholds/olctools
[submodule "ores"]
	path = ores
	url = https://github.com/ironholds/ores
[submodule "pageviews"]
	path = pageviews
	url = https://github.com/ironholds/pageviews
[submodule "piton"]
	path = piton
	url = https://github.com/ironholds/piton
[submodule "primes"]
	path = primes
	url = https://github.com/ironholds/primes
[submodule "rdian"]
	path = rdian
	url = https://github.com/ironholds/rdian
[submodule "reconstructr"]
	path = reconstructr
	url = https://github.com/ironholds/reconstructr
[submodule "triebeard"]
	path = triebeard
	url = https://github.com/ironholds/triebeard
[submodule "urltools"]
	path = urltools
	url = https://github.com/ironholds/urltools
[submodule "webreadr"]
	path = webreadr
	url = https://github.com/ironholds/webreadr
[submodule "WikipediR"]
	path = WikipediR
	url = https://github.com/ironholds/wikipedir
